name: PHP Composer

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-20.04
    if: "contains(github.event.head_commit.message, 'version')"

    steps:
    - uses: actions/checkout@v2


    - name: Setup PHP version
      uses: shivammathur/setup-php@v2
      with:
        php-version: 7.3

    - name: Install Composer dependencies
      run: composer install

    - name: Install NPM dependencies
      run: |
          chmod +x ./travis.sh
          ./travis.sh -t npm
          
    - name: Compile static files
      run: ./travis.sh -t build
      
    - name: Build a package
      run: ./travis.sh -t pack
      env:
        PRODUCT_NAME: ${{ secrets.PRODUCT_NAME }}

    - name: Upload package
      run: ./travis.sh -t upload
      env:
        PRODUCT_NAME: ${{ secrets.PRODUCT_NAME }}
        FTP_USER: ${{ secrets.FTP_USER }}
        FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
